<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Assignee Todo</title>
</head>
<body>
<h1>Edit Assignee</h1>

<form th:action="|/assignee/edit|" th:object="${assignee}" method="post">
    <input type="hidden" th:field="*{id}">
    <label>Name: </label><input type="text" th:field="*{name}"></br>
    <label>e-mail: </label><input type="email" th:field="*{email}"></br>
    <input type="submit" value="Submit"><a th:href="@{/assignee/}">Cancel</a>
</form>
</body>
</html>
