<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
</head>
<body>
<h1>TODOS FOR TODAY: </h1>

<a href="/todo/add">Add new todo</a>
<br>
<a href="/assignee">List of Assignees</a>

<form th:action="@{/todo/search}" method="POST">
    <label>Search: </label>
    <input type="text" placeholder="Search here" name="search_term">

    <label> by: </label>
    <input type="submit" name="search_by" value="Title">
</form>

<table>
    <tr>
        <th>Id: </th>
        <th>Title: </th>
        <th>Urgent: </th>
        <th>Done: </th>
    </tr>
    <tr th:if="${todos.size() > 0}" th:each="todo : ${todos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.getUrgent()}"></td>
        <td th:text="${todo.getDone()}"></td>
        <td>
            <a th:href="|/todo/${todo.getId()}/delete|">delete</a>
        </td>
        <td>
            <a th:href="|/todo/${todo.getId()}/edit|">edit</a>
        </td>
    </tr>
</table>

<p th:unless="${todos.size() > 0}"> You dont any todos yet.</p>

</body>
</html>