<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Decoder</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h3>Decoding text</h3>
<div>
    <form action="/useful/decoder" method="post">
        <label >Insert Text to decode :</label><br>
        <input type="text"  name="text"><br>
        <label >Insert Number:</label><br>
        <input type="number"  name="number">

        <button type="submit"> Decode</button>
    </form>
</div>
<p th:text="'Original text: ' + ${text}"></p>
<p th:text="'Decoded text: '+ ${result}"></p>
<a href="/useful">Home Page</a>
</body>
</html>