<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>WebShop AvgStock</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
    <div>
        <h1><a th:href="@{/webshop}" class="header">My Shop</a></h1>
        <h1><a th:href="@{/more-filters}" class="header">More >></a></h1>
    </div>
<div>
    <a href="/webshop/only-available" class="button"> ONLY AVAILABLE</a>
    <a href="/webshop/cheapest-first" class="button"> CHEAPEST FIRST</a>
    <a href="/webshop/contains-nike" class="button"> CONTAINS NIKE</a>
    <a href="/webshop/average-stock" class="button"> AVERAGE STOCK</a>
    <a href="/webshop/most-expensive" class="button"> MOST EXPENSIVE AVAILABE</a>
</div>
<br>
<form th:action="@{/webshop/search}" method="POST" name="search" id="search">
    <label for="input1">Search for:</label>
    <input type="text" class="form-control" placeholder="Search here for key word" name="text" id="input1">
</form>
<br>

<h2 th:text="'Average stock:' + ${items}"></h2>
</body>
</html>