<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rob's WebShop</title>
    <link rel="stylesheet" href="/styles.css" />
</head>
<body>
<div>
    <h1>My Shop</h1>
</div>
<div>
    <a th:href="@{/webshop/only-available}" class="button"> ONLY AVAILABLE</a>
    <a th:href="@{/webshop/cheapest-first}" class="button"> CHEAPEST FIRST</a>
    <a th:href="@{/webshop/contains-nike}" class="button"> CONTAINS NIKE</a>
    <a th:href="@{/webshop/average-stock}" class="button"> AVERAGE STOCK</a>
    <a th:href="@{/webshop/most-expensive}" class="button"> MOST EXPENSIVE AVAILABE</a>
</div>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    <tr th:each="items : ${items}">
        <td th:text="${items.getName()}"></td>
        <td th:text="${items.description}"></td>
        <td th:text="${items.price} + ' Huf'"></td>
        <td th:text="${items.quantityOfStock}"></td>
    </tr>
</table>
</body>
</html>
