<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class ="container justify-content-center">
    <a href="/submit">Submit new post</a>
    <h1>Trending post</h1>
    <table>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="post : ${posts}">
            <td th:text="${post.likeCounter}"></td>
<!--            <td><a th:href="@{'/' + ${post.id} + '/increment'}">+</a></td>-->
<!--            <td><a th:href="@{'/' + ${post.id} + '/decrement'}">-</a></td>-->
            <td><a th:href="@{'/' + ${post.id} + '/update/?likeChange=1'}">+</a></td>
            <td><a th:href="@{'/' + ${post.id} + '/update/?likeChange=-1'}">–</a></td>
            <td><a th:href="${post.url}" th:text="${post.title}"></a></td>
            <td th:text="${post.date}"></td>
        </tr>
    </table>
    <form>
        <table>
            <tbody>
            <tr>
                <td>
                    <button><a href="/page/-1"><-</a></button>
                </td>
                <td>
                    <button><a href="/page/1">1</a></button>
                </td>
                <td>
                    <button><a href="/page/2">2</a></button>
                </td>
                <td>
                    <button><a href="/page/3">3</a></button>
                </td>
                <td>
                    <button><a href="/page/4">4</a></button>
                </td>
                <td>
                    <button><a href="/page/0">-></a></button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>