body {
    background-color: #e2e2e2;
}

form {
    background-color: #ffffff;
    width: 300px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
}

label {
    padding-top: 15px;
    font-size: 15px;
}

label, input {
    margin: 5px 0;
}

input {
    height: 25px;
}

input[type="submit"] {
    width: 100px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    float: left;
    padding: 5px 30px;
    border-radius: 40px;
    margin-top: 20px;
    height: 35px;
}

a {
    text-align: right;
    text-decoration: none;
    color: #000000;
    font-size: 12px;
}

form p {
    font-size: 24px;
}

input:focus {
    outline: solid 2px #39e600;
}

input[type="password"] {
    background: url(eye.png) no-repeat;
    background-position-x: 260px;
}

input[type="checkbox"] {
    display: none;
}

#eye {
    position: absolute;
    left: 795px;
    top: 225px;
}

