<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<!--<div th:replace="~{fragments/toplinks(${name})}"></div>-->
<div th:replace="~{fragments/toplinks(${name})}"></div>


<img th:src="@{greenfox.png}" alt="greenfox">
<!--<div id="ifFoxIsPresent" th:if="${fox}">-->
<p th:text="'This is ' + ${fox.getName()} + ' Currently living on '+
${fox.getFood()}+ ' and '+${fox.getDrink()}+ '. He knows ' + ${fox.getTricks().size()}
+ ' tricks.'"></p>
    <h2>Known tricks</h2>
    <ul>
        <li th:if="${fox.getTricks().size() == 0}" th:text="${'You do not know any tricks yet. Go learn some!'}"
            th:style="|color:black|"></li>
        <li th:unless="${fox.getTricks().size() == 0}" th:each="t : ${fox.getTricks()}"
            th:text="${t}" ></li>
    </ul>

    <h2>Action History</h2>
<p th:if="${listSize} == 0">No actions have been made, yet.</p>
<ul th:unless="${listSize} == 0">
    <li th:each= "action: ${actions}" th:text="${action}"></li>
</ul>
<!--<div id="ifFoxNotPresent" th:unless="${fox}">-->
<!--    <p>There is not fox logged in. Proceed with Login please.</p>-->

</body>
</html>