<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h2>Welcome to Programmer Fox Club!</h2>

<div>
    <form action="/login" method="post">
        <label for="name">Please provide a name, so you can associate it to your pet!</label><br>
        <input type="name"  name="name" id="name">
        <button type="submit"> GO</button>
    </form>
</div>

</body>
</html>